<!-- Cargamos la ruta de estáticos -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Anchors App</title>
		<!-- Estilos -->
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
	</head>
	<body>
		<!-- Body -->
		<nav>
			<a href="{% url 'index' %}">ANCHORS APP</a>
			<!--  
	<div className="nav-links-container">
		{% for category in category_object_list %}
		<a href="{% url 'category_detail' category.pk%}"
			>{{ category.name }}
		</a>
		{% endfor %}
	</div>
    -->
		</nav>
		<!-- Contenido de la página -->
		{% block content %}
		<p>Contenido de la página</p>
		{% endblock %}
	</body>
</html>
