{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Anchors App</title>
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
			rel="stylesheet"
		/>
		<!-- Estilos Base -->
		<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
		<link rel="stylesheet" href="{% static 'css/base.css' %}" />
		<!-- Estilos específicos de cada página -->
		{% block styles %} {% endblock %}
	</head>
	<body>
		<!-- Barra de Navegación -->
		{% include "base/nav.html" %}

		<!-- Bloque de contenido de la página -->

		{% block content %}
		<!-- Contenido de la página -->
		{% endblock %}
	</body>
</html>
