<!-- Carga de estáticos -->
{% load static %}
<!-- Estilos específicos -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}" />
{% endblock %}
<!-- Barra de Navegación -->
<nav>
	<a href="{% url 'categories' %}" class="logo">
		<img src="{% static 'images/icons/anchor.png' %}" alt="Inicio" />
		Anchors
	</a>

	<div class="nav-links">
		{% if user.is_authenticated %}
		<p>Bienvenido, <span>{{ user.username }}</span></p>

		<!-- Botón de logout -->
		<form method="POST" action="{% url 'logout' %}">
			{% csrf_token %}
			<button type="submit">
				<img
					src="{% static 'images/icons/logout.png' %}"
					alt="Cerrar sesión"
				/>
			</button>
		</form>
		{% else %}
		<!-- Mostrar el enlace de login si el usuario no está autenticado -->
		<a href="{% url 'login' %}">Iniciar sesión</a>
		{% endif %}
	</div>
</nav>
