/** Estilos para base.html */

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
    background-image: linear-gradient(
        93.2deg,
        rgba(24, 95, 246, 1) 14.4%,
        rgba(27, 69, 166, 1) 90.8%
    );
    font-family: "Roboto", sans-serif;
}

img {
    object-fit: cover;
}

