/** Estilos para base.html */

body {
    color: white;
    position: relative;
    /* background-image: linear-gradient(
        93.2deg,
        rgba(24, 95, 246, 1) 14.4%,
        rgba(27, 69, 166, 1) 90.8%
    ); */

    /* background-image: linear-gradient(
        93.2deg,
        rgba(13, 17, 23, 1) 0%,
        rgba(13, 17, 23, 1) 100%
    ); */

    background-color: #0d1117;
    font-family: "Roboto", sans-serif;
}

img {
    object-fit: cover;
}

