
/* Estilos para el category_detail.html */
.create-btn{
    display: inline-block;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    font-size: 1.5rem;
    text-align: center;
    margin: 30px 5vw;
}

.create-btn:hover{
    background: rgba( 255, 255, 255, 0.25 );
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 5vw;
}

form input {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 1.5rem;
    outline: none;
}

form input:focus {
    outline: 0.1rem solid rgba(255, 255, 255, 0.75);
    color: #ffffff;
}

form input ::placeholder {
    color: white;
}

::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

form button {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
    border: none;
    height: 1.75rem;
    cursor: pointer;
    color: #ffffff;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form .submit-btn {
    background: #198754;
}

form .submit-btn:hover {
    background-color: #198754;
}

form .reset-btn {
    background: #dc3545;
}

form .reset-btn:hover {
    background-color: #dc3545;
}

form .icon{
    width: 1.2rem;
    height: 1.2rem;
}

.category_detail-main {
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;
    padding-top: 15vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

.h1-container{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -5;
    text-align: center;
    opacity: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.h1-container h1{
    font-size: 12rem;
} 

main a{
    color: white;
}

section {
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

section img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

section a {
    margin: 1vw;
    text-align: center;
    font-size: 0.6rem;
    transform: scale(1);
    transition: transform 0.5s;
}

section a:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: scale(1.5);
}

/** media-query  */
@media only screen and (max-width: 600px) {
    .category_detail-main {
        min-width: 100vw;
        padding-left: 0;
        padding-right: 0;
    }

    section {
        justify-content: center;
        justify-items: center;
    }

    .category_detail-main h1{
        margin-left: 10vw;
    }

    .category_detail-main h1{
        font-size: 6rem;
    }
}