.form-page-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* min-height: 100vh; */
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
}

.form-page-container h2{
    color: rgba(255, 255, 255, 0.9);
    font-size: 2rem;
    margin: 20px 0;
    text-shadow: 0 5px px rgba(255, 255, 255, 0.3);

}

.form{
    margin: 7vh auto;
    width: 50%;
    padding: 15px;
    background: rgba( 100, 100, 100, 0.1 );
    box-shadow: 0 8px 50px 0 rgba(33, 42, 160, 0.6);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 100, 100, 100, 0.1 );
    width: clamp(300px, 60vw, 400px);
}

.form-page-container h2{
    font-size: 2rem;
}

.form label{
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    margin: 1rem 0;
}

.form input{
    width: 100%;
    padding: 10px;
    margin: 0.75rem 0 2rem 0;
    border-radius: 5px;
    border: none;
    background-color: rgba( 100, 100, 100, 0.1 );
    /* color: rgba(255, 255, 255, 0.8); */
    color: rgba(133, 255, 47, 0.7);
    outline: 0px solid rgba(133, 255, 47, 0.7);
    box-shadow: 0 0 0 0 rgba(133, 255, 47, 0.7);
    transition: outline 0.5s;
    transition: box-shadow 0.5s;
    font-weight: 300;
}

.form input:focus{
    outline: 1px solid rgba(133, 255, 47, 0.7);
    box-shadow: 0 5px 20px 0 rgba(133, 255, 47, 0.7);
    transition: outline 0.3s;
    transition: box-shadow 0.3s;
}

.form input::placeholder{
    color: white;
}

.form input::file-selector-button{
    border: none;
    background-color: #d7d7d7;
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    margin-right: 1rem;
}

button{
    padding: 1rem 4rem;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    background-color: #6e40c9;
    box-shadow: 0 0 0 0 #6e40c9;
    transition: box-shadow 0.5s;
    border: none;
    width: 100%;
    font-weight: 300;
}

button:hover{
    box-shadow: 0 10px 30px 5px #6e40c9;
    transition: box-shadow 0.3s;
}

.form-page-container a{
    color: rgba(133, 255, 47, 0.9);
    font-size: 0.8rem;
    margin: 1rem 0;
}

.form-page-container a:hover{
    text-decoration: underline;
}

.form span, .form li{
    font-size: 0.5rem;
    display: none;
}

#cancel-btn{
    display: block;
    padding: 1rem 4rem;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    background-color: none;
    border: 2px solid #6e40c9;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.5s;
    transition: border box-shadow 0.5s;
    width: 100%;
    font-weight: 300;
}

#cancel-btn:hover{
    border: 2px solid white;
    box-shadow: 0 5px 20px 0px rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.3s;
    transition: border 0.3s;
}

#delete-btn{
    background-color: #ff0000;
    box-shadow: 0 0 0 0 #ff0000;
}

#delete-btn:hover{
    box-shadow: 0 5px 30px 5px #ff0000;
    transition: box-shadow 0.3s;
}