nav {
    padding: 20px 5vw;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
}

.logo img{
    height: 30px;
    margin-right: 10px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links p{
    margin: 0 20px;
    font-size: 1.2rem;
}

.nav-links p span{
    text-transform: capitalize;
}

.nav-links form{
    margin: 0;
}

.nav-links button{
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links button img{
    height: 25px;
}


