{% extends "base/base.html" %} {% load static %}
<!-- Estilos específicos -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}" />
{% endblock %}

<!-- Contenido de la página de categorías -->
{% block content %}
<main>
	<!-- Enlace para crear categoría si el usuario está autenticado -->
	<a href="{% url 'create_category' %}" class="create-btn">+</a>
	<!-- checkbox de edición -->
	{% include "toggle_switch.html" %}

	<section>
		{% if category_object_list %} {% for category in category_object_list %}
		<div class="category">
			<a href="{% url 'category_detail' category.pk %}">
				<div>
					<img
						src="{{ category.image.url }}"
						alt="{{ category.name }}"
					/>
					<h2>{{ category.name }}</h2>
				</div>
			</a>
			<!-- Enlace para eliminar la categoría -->
			<a href="{% url 'delete_category' category.pk %}" class="delete-btn"
				>x</a
			>
			<!-- Enlace para actualizar la categoría -->
			<a href="{% url 'update_category' category.pk %}" class="update-btn"
				><img src="{% static 'images/icons/edit.png' %}"
			/></a>
		</div>
		{% endfor %} {% else %}
		<p>No hay categorías disponibles</p>
		{% endif %}
	</section>
</main>

{% endblock %}
