{% extends "base/base.html" %}
<!-- Cargar estáticos -->
{% load static %}
<!-- Estilos específicos -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/category_detail.css' %}" />
{% endblock %}

<!-- Contenido de la página de detalle de categoría -->
{% block content %}
<!-- checkbox de edición -->
{% include "toggle_btn.html" %}

<!-- Formulario de búsqueda -->
{% include "search_form.html" %}

<!-- Mostrar categoría -->
<main
	class="category_detail-main"
	style="background-image: {{ object.bg_color }}"
>
	<div class="h1-container">
		<h1>{{ object.name|upper }}</h1>
	</div>

	<section>
		{% if anchors %} {% for anchor in anchors %}
		<a href="{{ anchor.link }}" target="_blank">
			<div>
				<img src="{{ anchor.image.url }}" alt="{{ anchor.name }}" />
				<h2>{{ anchor.name }}</h2>
			</div>
		</a>
		<!-- Enlace para eliminar el enlace (anchor) -->
		<a href="{% url 'delete_anchor' anchor.pk %}" class="delete-btn">X</a>
		<!-- Enlace para actualizar el enlace (anchor) -->
		<a href="{% url 'update_anchor' anchor.pk %}" class="update-btn">Ed</a>
		{% endfor %} {% else %}
		<div class="not-found">
			<img
				src="{% static 'images/homer.png' %}"
				alt="No se encontraron resultados"
			/>
			<p>¡Mosquis!</p>
		</div>
		{% endif %}
	</section>
	<!-- Enlace para crear un nuevo enlace si el usuario está autenticado -->
	{% if user.is_authenticated %}
	<a href="{% url 'create_anchor' %}" class="create-btn">Crear Enlace</a>
	{% endif %}
</main>

{% endblock %}
