{% extends "base/base.html" %} {% load static %} {% block content %}
<main class="home-main">
	<h1>Bienvenido a AnchorApp</h1>

	<!-- Mostrar botones de login y register si el usuario no está autenticado -->
	{% if not user.is_authenticated %}
	<a href="{% url 'login' %}" class="button">Iniciar sesión</a>
	<a href="{% url 'register' %}" class="button">Registrarse</a>
	{% else %}
	<p>¡Ya estás autenticado como {{ user.username }}!</p>
	<a href="{% url 'index' %}" class="button">Ir a tus categorías</a>
	{% endif %}
</main>
{% endblock %}
