{% extends "base/base.html" %}
<!-- Cargamos la ruta de estáticos -->
{% load static %}
<!-- Body -->
{% block content %}

<style>
	main {
		margin: 5vh 5vw;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		height: 70vh;
	}
	main img {
		width: 125px;
		height: 125px;
		border-radius: 10px;
	}

	main a {
		margin: 10px;
		text-align: center;
		font-size: 0.75rem;
	}
</style>

<!-- Mostrar categorías -->
<main>
	{% if category_object_list %} {% for category in category_object_list %}
	<a href="{% url 'category_detail' category.pk%}"
		><div>
			<img src="{{ category.image.url }}" alt="{{ category.name }}" />
			<h2>{{ category.name }}</h2>
		</div></a
	>
	{% endfor %} {% else %}
	<p>No hay categorías disponibles</p>
	{% endif %}
</main>
{% endblock %}
