{% extends "base/base.html" %}
<!-- Cargamos la ruta de estáticos -->
{% load static %}
<!-- Body -->
{% block content %}

<!-- Mostrar categorías -->
<main class="index-main">
	{% if category_object_list %} {% for category in category_object_list %}
	<a href="{% url 'category_detail' category.pk%}"
		><div>
			<img src="{{ category.image.url }}" alt="{{ category.name }}" />
			<h2>{{ category.name }}</h2>
		</div></a
	>
	{% endfor %} {% else %}
	<p>No hay categorías disponibles</p>
	{% endif %}
</main>
{% endblock %}
