{% extends "base/base.html" %} {% load static %}
<!-- Estilos específicos -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}
<main class="home-main">
	<div class="home-titles">
		<h1>Bienvenido a Anchors</h1>
		<h3>La aplicación para organizar tus enlaces favoritos</h3>
		{% comment %}
		<p>Una página para reunirlos a todos</p>
		{% endcomment %}
	</div>
	<!-- Mostrar botones de login y register si el usuario no está autenticado -->
	<div class="home-buttons">
		{% if not user.is_authenticated %}
		<a href="{% url 'login' %}" class="button btn-login">Iniciar sesión</a>
		<a href="{% url 'register' %}" class="button btn-register"
			>Registrarse</a
		>
		{% else %}
		<p>¡Ya estás autenticado como {{ user.username }}!</p>
		<a href="{% url 'categories' %}" class="button">Ir a tus categorías</a>
		<a href="{% url 'logout' %}" class="button">Cerrar sesión</a>
		{% endif %}
	</div>
	<a
		href="https://res.cloudinary.com/dy9zlaudk/video/upload/f_auto:video,q_auto/v1/anchors-app-django/video-tutorial"
		id="video-tutorial-link"
		target="_blank"
		>Vídeo Tutorial</a
	>
</main>
{% endblock %}
